@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.video-container {
  background: rgba(0,0,0, 0.4);
}

.cursor {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* BUTTON HOVER */
button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #16DB65;

  border-bottom-right-radius: 1rem;

  z-index: -1;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s ease-in-out;
}

button:hover::before {
  transform: scaleX(1);
}

button {
  z-index: 1;
}

/* RESPONSIVE DESIGN */
@media (max-width: 700px) {
  .h1-typewriter {
    font-size: 5rem;
  }

  .address {
    bottom: 14%;
    left: 30%;
    text-align: center;
  }

  .button {
    width: 90%;
    margin: auto;
    right: 5%;
  }
}